.container{
    width: 80%;
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 7px;
    margin: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
.list{
    width: 100%;
    border-spacing: 0;
    /* user-select: none; */
    /* border: 1px solid #cccccc; */
    border-radius: 7px;
}

.list td,th{
    padding-top:5px;
    padding-bottom:5px;
    /* border-bottom: 1px solid #cccccc; */
}

.list tbody tr:hover{
    background-color: #144bff0a;
    transition: 300ms;
}
.list tbody tr:active{
    background-color: #144bff20;
}

.td-check input {
    cursor: pointer;
}

.list .td-icon,.td-name,.td-owner,.td-date,.td-date,.td-size,.td-actions{
    text-align: center; 
}
.list .th-name{ 
    text-align: start; 
}
.list .td-name{
    text-align: start;
    width: 40%;
}

.action-menu .menu-custom{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:5px;

    right: 0;
    left:auto;
    
    min-height: auto;
    min-width: auto;
    width:100px;
}

.action-button {
    width:25px; 
    height:25px;
    display: flex;
    justify-content: center;
    align-items: center;
}