

.login-form{
    display: flex;
    flex-direction: column; 
    width:fit-content;
    gap: 20px;

    
}
.login-box{
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px 10px #0000003e;
}

.login-box h2{
    margin-top: 0px;
}

.login-form input{
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    border:none;
}

.login-form input:focus{
    box-shadow: 0px 0px 0px 10px #007bff3e;
    border: none;
}
.login-form input:focus-visible{
    box-shadow: 0px 0px 0px 10px #007bff3e;
    border: none;
    outline: none;
}


.login-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.button-container{
    display: flex;
    justify-content: space-between;
}