.login-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80%; */
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -60%);
}
.login-box{
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: white;
    /* box-shadow: 0px 0px 10px 10px #0000003e; */
    height: fit-content;
}

.login-box h2{
    margin-top: 0px;
}

.login-form{
    display: flex;
    flex-direction: column; 
    width:fit-content;
    gap: 20px;

    
}

.login-form input{
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    border:none;
    border: 1px solid #ccc;
}

.login-form input:focus{
    box-shadow: 0px 0px 0px 10px #007bff3e;
    /* border: none; */
}
.login-form input:focus-visible{
    box-shadow: 0px 0px 0px 10px #007bff3e;
    /* border: none; */
    outline: none;
}

.button-container{
    display: flex;
    justify-content: space-between;
}