.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000003c; /* Fondo oscuro traslúcido */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-container {
  background: white;
  padding: 20px;
  border-radius: 7px;
  width: 90%;
  max-width: 500px;
  position: relative;
  border: 1px solid #ccc;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}
.modal-header h3{
    margin: 0px;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-container-flex-column{
    display: flex;
    gap:12px;
    flex-direction: column;
}

.modal-btn-container{
    display: flex;
    justify-content: end;
    gap: 10px;
}