:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 0.9em;
  /* color: #ffffff; */
  /* background-color: #3f3f3f; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #eaeaea;
}

a{
  color:#5050ff;
  text-decoration: none;
}

a:hover {
  color: #2828c8;
}

.navigation-items{
  display: flex;
  flex-direction: column;
}

.navigation-items a{
  display: block;
  gap:5px;
  margin-bottom: 5px;
  padding-left: 7px;
  border-radius: 5px;
  border:1px solid #ccc;
}
.navigation-items a:hover{
  transition: 200ms;
  background-color: #007bff3e;
}

.horizontal-nav{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: white;

  transition: 300ms;
}

.horizontal-nav-box{
  display: flex;
  gap:10px;
}

.profile-nav{
  display: block;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 35px;
  height: 35px;

  transition: 200ms;
}

.profile-nav:active{
  width: 25px;
  height: 25px;
  margin: 5px;
}

.vertical-nav{
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  overflow: hidden;
  width: 180px;
  padding: 10px;
  
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: white;

  transition: 300ms;
}

.main-container{
  display: flex;
  flex-direction: column;
  gap:10px;
  margin-top: 10px;
  transition: 300ms;
}

.custom-container{
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: white;
  padding: 10px;
}

.vertical-expanded{
  margin-left: 210px;
}

.no-margin{
  margin: 0;
}

.position-out{
  left: -220px;
}

.d-none{
  display: none;
}

button{
  cursor: pointer;
}

.admin-menu{
  margin-top: 10px;
}



.profile-menu-items{
  display: flex;
  flex-direction: column;
  gap:5px;
}
.profile-menu-items a{
  display: block;
  padding-left: 7px;
  border-radius: 5px;
  border:1px solid #ccc;
}
.profile-menu-items a:hover{
  transition: 200ms;
  background-color: #007bff3e;
}